extends layouts/main-layout.pug

block scripts    
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")

block content
    div(id="app")
        h1 Scooby Brew initialization
        h3 Found #{sensors.length} device(s).

        table
            thead   
                th Name
                th Address
                th Current Temp
            tbody
                each sensor in sensors
                    tr
                        td
                            input(type="text", name=sensor.name value=sensor.name)
                        td= sensor.address
                        td {{ #{sensor.name} }}
        input(type="button", value="loadTemps", onclick='loadTemps()') Request Temps

    script.

        var app = new Vue({
            el: '#app',
            data: {
                sensors: 
                // how do I dynamically add my sensors?
            },
            methods: {
                function loadTemps() {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status = 200){
                            this.sensors = this.responseText;
                        }
                        xhttp.open("GET", "demo_get.js", true);
                        xhttp.send();
                    }
                }
            }
        });

        


        var socket = io();
        socket.on('consoleMessage', function(data) {
            console.log(data);
            socket.emit('requestData');
        });
        socket.on('sensor1', function(data){
            app.sensor1 = data;
            socket.emit("requestData")
        });